.style1
{
         width:280px;
         height:260px;
}

.style2
{       width:280px;
        height:120px;
}
.style3
{
    height:140px;
    width:280px;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
.style4
{
    width:280px;
    height:40px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    
}
.style5
{
    height:40px;
    width:80px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    float:left;
}
.style6
{
    width :200px;
    height:40px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    float:left;
}
.style7
{
    width:200px;
    height:20px;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
.style8
{
    width:280px;
    height:60px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    float:left;
}
.style9
{
    width:80px;
    height:60px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    float:left;
}
.style10
{
    width:200px;
    height:20px;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
.style11
{
    width:280px;
    height:25px;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
.style12
{
    width:140px;
    height:25px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    float:left;
}
.style13
{
    width:140px;
    height:25px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    float:left;
}
.style14
{
    width:200px;
    height:60px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    float:left;
}
.style15
{
    width:280px;
    height:20px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    
}
.style16
{
    color:Red;
}
.style17
{
    width:50px;
    height:25px;
    float:left;
}
.style18
{
    width:90px;
    height:25px;
    float:left;
}

